body{
  background-color: black;
}

canvas{
  cursor: none;
}

select{
  // @TODO: Temporary, change scroll bar
  overflow-y: hidden;
}

button, input, select{
  background-color: black;
  color: white;
  border: 1px solid grey;
}

button:hover, input:hover{
  border: 1px solid yellow;
}

.viewport{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

span.title{
  color: wheat;
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
}

.container{
  display: flex;
  flex-direction: row;

  &.column{
    flex-direction: column;
  }
}

.dialog{
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  left: 900px;
  width: 250px;
  height: 300px;
  color: white;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content{
  box-sizing: border-box;
  margin-top: 50px;
  margin-left: 50px;
  width: 815px;
  padding: 5px;
  
  color: white;

  .topbar{
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button{
      width: 60px;
      height: 40px;
    }
    
  }

  .editor-box{

  }

  .toolbar{
    
  }

  .palette-box{
    flex: 4;
  }

  .controls-box{
    border-left: 1px solid grey;
    flex: 1;
    padding: 5px;
    margin-left: 5px;
    gap: 10px;
  
    hr{
      width: 100%;
    }

    span.heading{
      font-size: 16px;
      text-decoration: underline;
    }

    select{
      width: 100px;
    }
  }
}

.dimension-input{
  input{
    width: 50px;
  }
}

.bordered{
  border: 1px solid grey;
}

.tab{
  width: 90px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  span{
    font-size: 24px;
  }
}

.tab:hover{
  border: 1px solid yellow;
  transform: translateY(-4px);
}
