<div class="container space-between bordered" style="height:60px; align-items: center;">
  <div>
    <div>
    </div>
    <div>
      <button (click)="onNewMapClick()">New</button>
      <button (click)="onSaveMapClick()">Save</button>
      <button (click)="onLoadMapClick()">Load</button>
    </div>
  </div>
  <div>
    <span>Tilemap Editor v0.2.0</span>
  </div>
  <div class="container static">
    <fieldset>
      <legend>Draw Mode</legend>
      <button *ngFor="let mode of drawModes; let i = index" [value]="i" (click)="onDrawModeChange(i)" [style.color]="(i === drawModeIdx) ? 'yellow' : 'white'">{{mode}}</button>
    </fieldset>
    <div>
      <button (click)="onToggleGridClick()">Grid</button>
    </div>
  </div>
</div>
