<div class="container">


  <div class="container column bordered" style="height: 390px;">
    <div class="layer-box">
      <div *ngFor="let layer of layerOptions()" class="layer-option" [style.border]="(layerSelected(layer.id)) ? '1px solid yellow' : null">
        <span>{{ layer.id }}</span>
        <div class="button-block">
          <input type="checkbox" [checked]="layer.visible" [disabled]="isBaseLayer(layer.id)" (change)="onLayerVisibilityChange(layer.id, $event.target.checked)">
          <button [disabled]="isBaseLayer(layer.id)" (click)="onRemoveLayerClick(layer.id)">X</button>
        </div>
      </div>
    </div>
    <button (click)="onAddLayerClick()" class="add-layer">
      Add new layer...
    </button>
  </div>



  <div>
    <div class="tilesheet-bar container space-between">
      <div>
        <label>Name:</label>
        <select (change)="onTilesheetSelect($event.target.value)">
          <option *ngFor="let sheet of tilesheetOptions()" [value]="sheet.id" [selected]="tilesheetSelected(sheet.id)">{{ sheet.name }}</option>
        </select>
      </div>
      <div>
        <span>{{ tileIdx }}/ {{ tilesheetCellCount() - 1 }}</span>
      </div>
    </div>
    <div>
      <app-palette-control></app-palette-control>
    </div>
  </div>



  <div class="properties container column bordered">
    <span>Tile Properties</span>
    <div>
      <label>Solid: </label>
      <input type="checkbox"  [checked]="tileIsSolid()">
    </div>
    <div>
      <label>Animated: </label>
      <input type="checkbox" [checked]="tileIsAnimated()">
    </div>
    <div>
      <label>Effect: </label>
      <select>
        <option *ngFor="let effect of tileEffectOptions; let i = index" [value]="i" [selected]="tileEffectSelected(i)">{{effect}}</option>
      </select>
    </div>
    <div>
      <span>Animations:</span>
      <div class="animations-box">
        <div *ngIf="tileAnimation()" class="container column">
          <div>
            <label>Name:</label>
            <input type="text" [value]="tileAnimation()?.name" />
          </div>
          <div>
            <label>Speed:</label>
            <input type="number" min="1" [value]="tileAnimation()?.speed" />
          </div>
          <div>
            <label>Frames:</label>
            <span>{{ tileAnimation().frames }}</span>
          </div>
        </div>
        <div *ngIf="!tileAnimation()">
          <span>None</span>
        </div>
      </div>
    </div>
  </div>



</div>
