<div class="container">



  <div class="container column bordered">
    <label>Layers:</label>
    <select multiple>
      <option *ngFor="let layer of layerOptions(); let i = index" [value]="i" [selected]="layerOptionSelected(i)" [value]="i" (click)="onLayerSelect($event.target.value)">layer{{i}}</option>
    </select>
    <div>
      <button (click)="onAddLayerClick()">Add</button>
      <button (click)="onRemoveLayerClick()">Remove</button>
    </div>
  </div>


  <div class="tilesheet-props container column bordered" >
    <div class="container center">
      <span>Tilesheet</span>
    </div>
    
    <div class="container column static">
      <label>Name:</label>
      <input type="text">
    </div>
    <div class="container column static">
      <label>Texture:</label>
      <div>
        <input type="text">
        <button>...</button>
      </div>
    </div>
    <div class="container column static">
      <label>Clip Size:</label>
      <input type="number" min="1">
    </div>
    <div class="container column static">
      <label>nCells:</label>
      <input type="number" min="1">
    </div>
    <div class="container column static">
      <label>Cells per row:</label>
      <input type="number" min="1">
    </div>
    <br />
    <div class="button-block container column" style="align-items: center">
      <button>New</button>
      <button>Save</button>
      <button>Load</button>
    </div>
  </div>



  <div>
    <app-palette-control></app-palette-control>
  </div>



  <div class="container column bordered">
    <span>Tile Properties</span>
    <div class="properties container column">
      <div>
        <label>Solid: </label>
        <input type="checkbox"  [checked]="tileIsSolid()">
      </div>
      <div>
        <label>Animated: </label>
        <input type="checkbox" [checked]="tileIsAnimated()">
      </div>
      <div>
        <label>Effect: </label>
        <select>
          <option *ngFor="let effect of tileEffectOptions; let i = index" [value]="i" [selected]="tileEffectOptionSelected(i)">{{effect}}</option>
        </select>
      </div>
    </div>
  </div>



</div>
