select{
  width: 100px;
}
select[multiple]{
  width: 160px;
  height: 100px;
}

.properties{
  padding: 10px;
  gap: 20px;
}

.tilesheet-props{
  padding: 10px;
  gap: 10px;
  input{
    width: 100px;
  }
  .button-block{
    gap: 2px;
    button{
      width: 100px;
    }
  }
}