select{
  width: 100px;
}
select[multiple]{
  width: 160px;
  height: 100px;
}

.properties{
  padding: 10px;
  gap: 20px;
}

.tilesheet-bar{
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  align-items: center !important;
}

.layer-box{
  height: 100%;
  overflow-y: auto;
}

.layer-option{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  align-items: center;

  .button-block{
    display: flex;
    gap: 10px;

    button[disabled]{
      color: grey;
    }
  }
}

.add-layer{
  height: 40px;  
}

table{
  width: 100%;

  th{
    text-decoration: underline;
  }

  tr{
    outline: 1px solid grey !important;
  }
}

.animations-box{
  margin-top: 10px;
  gap: 10px;

  input[type="text"]{
    width: 140px;
  }

  input[type="number"]{
    width: 80px;
  }

  label{
    margin-right: 5px;
  }
}