
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$TilemapEditor-primary: mat-palette($mat-indigo);
$TilemapEditor-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$TilemapEditor-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$TilemapEditor-theme: mat-light-theme((
  color: (
    primary: $TilemapEditor-primary,
    accent: $TilemapEditor-accent,
    warn: $TilemapEditor-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($TilemapEditor-theme);

body{
  background-color: black;
  margin: 0;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

canvas{
  outline: none;
}

input, select, button, textarea{
  background-color: black;
  color: white;
}

.bordered{
  border: 1px solid grey;
}

/* @TODO: This should be temporary, figure out why button outlines aren't showing */
button{
  outline: 1px solid grey;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Disable vertical scroll-bar on dialog overlay
.cdk-global-scrollblock {
  overflow-y: hidden;
}


.custom-dialog {
  mat-dialog-container {
    background-color: black;
    color: white;
  }
}